.timer {
  position: fixed;
  top: 3px;
  left: 0;
  width: 95vw;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.1s;

  background: black;
  height: 6px;
  border-radius: 5px;
}
